
<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> firstName </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> lastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="hireDate">
        <th mat-header-cell *matHeaderCellDef> hireDate </th>
        <td mat-cell *matCellDef="let element"> {{element.hireDate}} </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> birthDate </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
    </ng-container>
    
    <ng-container matColumnDef="elimina">
      <th mat-header-cell *matHeaderCellDef>Elimina</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="deleteFn(element._links.self.href)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="modifica">
      <th mat-header-cell *matHeaderCellDef>Modifica</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="this.currentEmployee = element">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedCollumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedCollumns;"></tr>
</table>

<div class="buttons">
  <button (click)="firstPage()">&lt;&lt;</button>
  <button [disabled]="!data?._links?.prev" (click)="prevPage()">&lt;</button>
  <div>{{data?.page?.number}}</div>
  <button [disabled]="!data?._links?.next" (click)="nextPage()">&gt;</button>
  <button (click)="lastPage()">&gt;&gt;</button>
  <br>
  <button (click)="newEmployee()">add</button>
</div>



<div *ngIf="currentEmployee">
  id:<input [(ngModel)]="currentEmployee.id" type="text">
  firstName:<input [(ngModel)]="currentEmployee.firstName" type="text">
  lastName: <input [(ngModel)]="currentEmployee.lastName" type="text">
  hireDate: <input [(ngModel)]="currentEmployee.hireDate" type="text">
  birthDate: <input [(ngModel)]="currentEmployee.birthDate" type="text">
  gender: <input [(ngModel)]="currentEmployee.gender" type="text">
  
</div>

{{currentEmployee | json}}

